@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
}

main {
  @apply mx-auto w-full max-w-5xl px-4 pb-12 pt-6;
}
